@font-face{
    font-family:"Cantarell";
    src:
        url(fonts/Cantarell-Regular.woff2) format(woff2),
        url(fonts/Cantarell-Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

html{
    font-family:"Cantarell";
}

body{
    background-color: wheat;
    margin: 0;
    padding: 0;
    
}

.mainContainer{
    display:flex;
    
}


.imgArea{
    display: flex;
    position:fixed;
    height: 100vh;

}


#logoText{
    color: white;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-30%);
    font-size: 3rem;
}

#imgCredit {
    color: white;
    position: absolute;
    text-align: center;
    align-self:end;
    left: 50%;
    transform: translate(-50%);
    font-size: .8rem;
    
    
}



a:link, a:visited{
    color: white;
}