@font-face{
    font-family:"Cantarell";
    src:
        url(fonts/Cantarell-Regular.woff2) format(woff2),
        url(fonts/Cantarell-Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

html{
    font-family:"Cantarell";
}

body{
    background-color: wheat;
    margin: 0;
    padding: 0;
    
}

.mainContainer{
    display:flex;
    
}


.imgArea{
    display: flex;
    position:absolute;
    height: 100vh;

}

#logoTxt{
    color: white;
    position: absolute;
    text-align: center;
    align-self:end;
    left:20%
    
}



a:link, a:visited{
    color: white;
}