@font-face{
    font-family:"Cantarell";
    src:
        url(fonts/Cantarell-Regular.woff2) format("woff2"),
        url(fonts/Cantarell-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

html{
    font-family:"Cantarell";
}

body{
    background-color: wheat;
    margin: 0;
    padding: 0;
    display: flex;
    
    

    
}
.mainContainer{
    display: flex;
    
}


.rightArea{
    width: 70vw;
    justify-content: center;
    background-color: beige;
    flex-direction: column;
    align-content: center;
}

#formZone{
    background-color:bisque;
    display: flex;
    padding: 20px;
    

    
}

fieldset{
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    ;

}

#createBtn{
    
}

.imgArea{
    position:relative;
    height: 100vh;
    width: 30vw;
    min-width: 30vw;

}

#bgPic{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 0;
    
}

#logo{
    display: flex;
    position: absolute;
    height: 20%;
    left: 5%;
    top: 27%;
    
}



#logoText{
    color: white;
    position: absolute;
    left: 60%;
    top: 30%;
    transform: translate(-50%,-30%);
    font-size: 3rem;
}

#imgCredit {
    color: white;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom:1%;
    transform: translate(-50%);
    font-size: .8rem;
    
    
}

.login>span{
    color:blue
}

a:link, a:visited{
    color: white;
}

input,label{
    max-width: 50%;
}

input{
    margin-bottom: 20px;
}